* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    position: relative;
}

.mode,
.side {
    position: absolute;
    width: 500px;
    height: 200px;
    top: calc((50% - 200px) / 2);
    left: calc(50% - 250px);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: #eee;
    border: #000 1px double;
}
.mode p,
.side p {
    font-size: 2rem;
}
.modes {
    width: 80%;
    padding: 10px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.pvsp,
.pvsc,
.xo {
    text-align: center;
    width: 210px;
    height: 60px;
    padding: 7px;
    border: 1px solid #999;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}

.pvsp span {
    color: #999;
    font-size: 0.8rem;
    margin-left: 6px;
}
.pvsc:hover,
.pvsp:hover,
.xo:hover {
    box-shadow: 3px 3px 5px #ccc;
}
.side {
    display: none;
}
.board {
    margin: 80px auto 20px;
    background: lightblue;
    width: 420px;
    height: 420px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}
.board .box {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 3px;
    background: lightpink;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5rem;
    cursor: pointer;
}
.result,
.turn {
    margin: 25px auto 10px;
    width: 420px;
    height: 100px;
    text-align: center;
    line-height: 100px;
    color: chartreuse;
}
.result {
    font-size: 4rem;
}
.turn {
    font-size: 2rem;
}
.reset {
    margin: 25px auto 10px;
    height: 65px;
    width: 300px;
    border: none;
    outline: none;
    background: chartreuse;
    color: #fff;
    font-size: 2.5rem;
    text-align: center;
    line-height: 65px;
    border-radius: 3px;
    cursor: pointer;
    display: none;
}

@media (max-width: 600px) {
    .mode,
    .side {
        width: 60%;
        height: 230px;
        left: 20%;
    }
    .pvsp,
    .pvsc,
    .xo {
        width: 90%;
        margin: 5px;
    }
    .modes {
        width: 100%;
        flex-direction: column;
    }
    .mode p,
    .side p {
        font-size: 1.5rem;
        margin: 20px 10px 0 10px;
    }
    .board {
        width: 90%;
        margin-top: 50px;
    }
}
